* {
    box-sizing: border-box;
  }
  html, body{
    height: 100%;
  }
  .flex-container{
      display: flex;
      background-color: #084B87;
      height: 100%;
    font-family: sans-serif;
  }
  .left-column, .right-column{ 
     display: flex;
     flex-direction: row;
  }
  .left-column{
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    width: 50%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
 
  .right-column{
    background-image: url("../img/real-estate.jpg");
    background-size: cover;
    background-position: center center;
      width: 50%;
  }
  .link-wrap-left, .link-wrap-right{
    display: flex;
  } 
  .link-wrap-left a, .link-wrap-right a{
      font-size: 30px;
      font-weight: 600;
    color: white;
  }
  @media only screen and (max-width: 1024px){
     .flex-container{
         flex-direction: column;
     }
     .left-column, .right-column{
         width: auto;
         height: 50%;
     }
     .link-wrap-left, .link-wrap-right{
         width: 100%;
     }
  }